<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 设置别名 -->
	<typeAliases>
		<typeAlias type="com.istudycloud.domain.Role" alias="Role"/>
		<typeAlias type="com.istudycloud.domain.Resc" alias="Resc"/>
		<!-- 设置dataTables -->
		<typeAlias type="com.istudycloud.datatable.DatatablesRequest" alias="DatatablesRequest"/>
		<typeAlias type="com.istudycloud.datatable.DatatablesResponse" alias="DatatablesResponse"/>
	</typeAliases>
</configuration>
